body {
    background-color: #2e2e2e; /* Dark gray background */
    font-family: 'Comic Sans MS', sans-serif;
    margin: 0;
    padding: 0;
    color: #ae6c20; /* Set text color to white for better contrast */
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7d0d54;
    padding: 20px;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(72, 154, 97, 0.1);
}

.footer img {
    max-width: 50px;
    margin-right: 20px;
}

.footer p {
    margin: 0;
    font-size: 1.2em;
    color: #333;
}
